/build*
docs/build*
/xml
docs/xml
out
mpich
cmake-build-*
.idea/
.vs/
.vscode/
scripts/variants*.csv
scripts/variants*.xlsx
*venv*
sln/
CMakeSettings.json
.DS_Store
.cache
install
*.pyc
zyazeva_s_matrix_mult_cannon_alg/all
zyazeva_s_matrix_mult_cannon_alg/data
zyazeva_s_matrix_mult_cannon_alg/omp
zyazeva_s_matrix_mult_cannon_alg/stl
zyazeva_s_matrix_mult_cannon_alg/tbb

